@import '../../styles/typography';
@import '../../styles/mixins';

.name {
  @include typo-h2;

  margin-bottom: 40px;
}

.backButton {
  margin: 40px 0 16px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;

  @include on-tablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(24, 1fr);
  }
}

.slider {
  grid-column: span 4;

  @include on-tablet {
    grid-column: span 6;
  }

  @include on-desktop {
    grid-column: span 12;
  }
}

.variants {
  margin-top: 40px;
  grid-column: span 4;

  @include on-tablet {
    grid-column: span 5;
  }

  @include on-desktop {
    grid-column: 14/21;
  }
}
