@mixin square-button($border) {
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: $border;
}

@mixin on-tablet() {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop() {
  @media (min-width: 1040px) {
    @content;
  }
}
