@import '../../../../styles/mixins';

.swiper {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  height: 100%;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}

.controls {
  position: static !important;
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: span 4;
  height: 100%;
  background-color: #FFF;

  @include on-tablet {
    order: 1;
    flex-direction: column;
    grid-column: 1/2;
  }

  @include on-desktop {
    gap: 16px;
    grid-column: 1/3;
  }
}

.control {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--elements-color);
}

.controlImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.wrapper {
  order: 1;
  display: flex;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  grid-column: span 4;

  @include on-tablet {
    order: 2;
    grid-column: span 2/7;
  }

  @include on-desktop {
    grid-column: 3/11;
  }
}

.image {
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.controlSelected {
  border: 1px solid var(--primary-color);
}
