@import '../../styles/extends';
@import '../../styles/mixins';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktopAndTablet {
  gap: 64px;
  flex-direction: column;

  @include on-tablet {
    gap: 32px;
  }
}

.mobile {
  padding: 0 16px;
  margin-top: 64px;
  z-index: 5;
}

.mobile:before {
  content: '';
  position: fixed;
  width: 100vh;
  height: 100vh;
  background-color: var(--white-color);
  z-index: -1;
}

.link {
  @extend %typo-uppercase;

  color: var(--secondary-color);
  text-decoration: none;
  padding: 26.5px 0;
  display: flex;
}

.linkSelected {
  color: var(--primary-color);
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 0;
  }
}
