@import '../../styles/typography';
@import '../../styles/mixins';

.container {
  box-shadow: 0 -1px 0 0 #E2E6E9;
}

.content {
  padding: 32px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  display: flex;

  @include on-tablet {
    padding: 32px;
    flex-direction: row;
    align-items: center;
  }

  @include on-desktop {
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
    bottom: 0;
  }
}

.logo {
  width: 89px;
  height: 32px;
}

.logoContainer {
  display: flex;
  flex: 1;
  justify-content: start;
}

.links {
  flex-direction: column;
  gap: 16px;
  display: flex;

  @include on-tablet {
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
  }
}

.link {
  @include typo-uppercase;

  color: var(--secondary-color);
}

.toTop {
  width: 100%;
  justify-content: center;
  cursor: pointer;

  @include on-tablet {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
}

.icon {
  width: 16px;
  height: 16px;
  padding: 8px;
  margin-left: 16px;
  border: 1px solid var(--icons-color);
}
