@import '../../styles/mixins';

.container {
  display: none;

  @include on-tablet {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
  }
}

.icon {
  box-shadow: -1px 0 0 0 #E2E6E9;
  padding: 16px;

  @include on-desktop {
    padding: 24px;
  }
}

.iconSelected {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 3px;
  }
}
