.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.page {
  flex-grow: 1;
  max-width: 1136px;
  width: calc(100% - 32px);
  padding: 0 16px;
  margin: 0 auto;
}
